@using System.Linq
@model IEnumerable<database.Post>

@{
    ViewBag.Title = "Hiya!";
    Layout = "_Layout";
}
<div id="main-posts" class="card">
    <p>@Model.Single(id=>id.IdPost==16).Description</p>
    <p>@Html.Raw(Model.Single(id=>id.IdPost==16).Body)</p>
    <h3>Latest posts:</h3>
    <ul>
        @foreach (var post in Model.Where(p=>p.Published).OrderByDescending(post => post.Date).Take(3))
        {
            <li>
                <a href="@post.IdPost">@Html.Raw(post.Title)</a>
                <p>@Html.Raw(post.Description)</p>
            </li>
        }
    </ul>
    <a href="~/Index"><p> More stuff can be found here.</p></a>
</div>
